.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #3d0099; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  overflow: auto;
}

a {
  color: white;
  text-decoration: none;
  background-color: #3d0099;
  text-align: center;
  padding: 20px;
  display: block;
}

.active {
 background-color: #d9d9d9; 
 color: black;
}

a:hover:not(.active) {
 background-color: #8c1aff;
 color: white; 
}

body {
 background-color: #d9d9d9; 
}

header {
text-align: center;
margin: 0; 
padding: 20px;
background-color: #cccccc;
font-size: 30px;
}

p {
  color: #000000;
}


